<footer class="footer">
  <div class="container footer-container">
    <div class="logo-input">
      <div class="footer-focus">
        <a class="footer-focus-logo" href="./index.html">
          <svg class="footer-svg" width="127" height="20">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="address">
          <ul class="address-list">
            <li class="address-item">
              <a class="footer-focus-tel" id="contacts" href="tel:+380665438912"
                >Ua: +38 066 543 8912</a
              >
            </li>
            <li class="address-item">
              <p class="footer-focus-text">Ukraine, Kyiv</p>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-link">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              href="https://www.instagram.com/goitclub/"
              >Instagram</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              href="https://www.facebook.com/goITclub/"
              >Facebook</a
            >
          </li>
          <li class="footer-soc-item">
            <a
              class="footer-soc-link"
              target="_blank"
              href="https://www.youtube.com/c/GoIT"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="footer-soc-link" href="#about-us">About us</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-soc-link" href="#our-courses">Our courses</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-soc-link" href="#our-mentors">Our mentors</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-soc-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav-item">
            <a class="footer-soc-link" href="#contacts">contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer-form">
        <form class="ftr-form" name="footer-form">
          <input
            class="footer-form-input"
            type="email"
            placeholder="Enter your email"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
          />
          <button class="footer-btn" type="submit">Go</button>
        </form>
      </div>
    </div>
    <div class="paragraph">
      <p class="footer-paragraph">
        Privacy Policy Public&nbsp;Offering&nbsp;Agreement
      </p>
      <p class="footer-text">2023 Focus Frame &copy; All rights reserved</p>
    </div>
  </div>
</footer>
