<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <svg class="header-logo-icon" width="123" height="16">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li>
          <a href="./index.html" class="header-link active">About us</a>
        </li>
        <li><a href="./index.html" class="header-link">Our courses</a></li>
        <li><a href="./index.html" class="header-link">Our mentors</a></li>
        <li><a href="./index.html" class="header-link">Reviews</a></li>
        <li><a href="./index.html" class="header-link">contacts</a></li>
      </ul>
      <svg class="camera-icon" width="16" height="12">
        <use href="./images/icons.svg#icon-camera"></use>
      </svg>
      <button class="burger-btn" type="button" aria-label="Open menu button">
        <svg class="burger-btn-icon" width="40" height="28">
          <use href="./images/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    <button class="footer-btn" type="submit">Sign up</button>
  </div>
</header>
