<header class="header">
  <div class="header-container">
    <a href="./index.html" class="header-logo">
      <svg class="header-logo-icon">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li>
          <a href="./index.html" class="header-link">About us</a>
        </li>
        <li><a href="./index.html" class="header-link">Our courses</a></li>
        <li><a href="./index.html" class="header-link">Our mentors</a></li>
        <li><a href="./index.html" class="header-link">Reviews</a></li>
        <li><a href="#contacts" class="header-link">contacts</a></li>
      </ul>

      <a href="#sign-up" class="camera">
        <svg class="camera-icon" width="16" height="12">
          <use href="./img/icons.svg#icon-camera"></use>
        </svg>
      </a>
      <button class="burger-btn" type="button" aria-label="Open menu button">
        <svg class="burger-btn-icon" width="40" height="28">
          <use href="./img/icons.svg#icon-nav"></use>
        </svg>
      </button>
    </nav>
  </div>
  <a href="#sign-up" class="header-btn">Sign up</a>
</header>
