<section class="hero-section">
<div class="hero-content-box">

<div class="hero-text">
<div>
    <h1 class="hero-title">Discover the magic of <span class="accent italic">photography</span> in our school</h1>
    <p class="hero-paragraph">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
</div>

<div class="main-review-section">
<div class="people-section">
<div class="hero-people-pics">
    <div class="person-1">
    <img srcset="../img/hero/girl1-mob@1x.png 1x, 
    ../img/hero/girl1-mob@2x.png 2x" src="../img/hero/girl1-mob@1x.png" alt="girl 1" width="54" height="54">
    </div>

    <div class="person-2">
    <img srcset="../img/hero/boy-mob@1x.png 1x, 
    ../img/hero/boy-mob@2x.png 2x" src="../img/hero/boy-mob@1x.png" alt="boy" width="54" height="54">
    </div>

    <div class="person-3">
    <img srcset="../img/hero/girl2-mob@1x.png 1x, 
    ../img/hero/girl2-mob@2x.png 2x" src="../img/hero/girl2-mob@1x.png" alt="girl 2" width="54" height="54">
    </div>
</div>

<div class="arrow-section">
    <p class="hero-paragraph-2">Our happy students</p>
    <svg class="arrow-svg-style" width="18" height="8.66">
      <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
</div>

</div>

<div class="star-section">
<div>
    <span class="star-svg-background">
    <svg class="star-svg-style" width="20" height="20">
     <use href="../img/icons.svg#icon-star"></use>
    </svg>
    </span>
</div>
<div>
  <p class="accent-hero">Reviews</p>
  <p class="review-amount">+1500</p>
</div>
</div>

</div>
</div>

<div class="hero-picture">
  <picture>
  <source srcset="../img/hero/cameraboy-mob@1x.png 1x, 
                  ../img/hero/cameraboy-mob@2x.png 2x" media="(min-width:375px)">
  <source srcset="../img/hero/cameraboy-tab@1x.png 1x, 
                  ../img/hero/cameraboy-tab@2x.png 2x" media="(min-width:768px)">
  <source srcset="../img/hero/cameraboy-desk@1x.png 1x, 
                  ../img/hero/cameraboy-desk@2x.png 2x" media="(min-width:1280px)">
  <img src="../img/hero/cameraboy-desk@1x.png" alt="Cameraboy" width="397" height="520">
  </picture>
</div>

</div>
</section>