<div class="mob-tab-menu" id="myModal">
  <div class="menu">
    <button
      class="menu-btn"
      type="button"
      aria-label="Close menu"
      onclick="closeModal()"
    >
      <svg class="menu-btn-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-link active" href="#about-us">About us</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#our-courses">Our courses</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#our-mentors">Our mentors</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#reviews">Reviews</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#contacts">Contacts</a>
      </li>
    </ul>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="
          ./img/mob-tab-menu/menu-mob@1x.jpg 1x,
          ./img/mob-tab-menu/menu-mob@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/mob-tab-menu/menu-tab@1x.jpg 1x,
          ./img/mob-tab-menu/menu-tab@2x.jpg 2x
        "
      />
      <img
        class="menu-img"
        src="./img/mob-tab-menu/menu-tab@1x.jpg"
        alt="Picture of a camera"
      />
    </picture>
  </div>
</div>
