<section class="section our-courses" id="our-courses">
  <div class="container">
    <div class="courses-wrap">
      <h3 class="section-title our-courses">
        Our <span class="accent">Courses</span>
      </h3>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="courses-list">
      <li class="courses-card">
        <div class="courses-card-top">
          <p class="card-number">01</p>
          <a class="courses-link" href="#sign-up">
            <svg class="courses-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-vector"></use>
            </svg>
          </a>
        </div>
        <h4 class="courses-name">Basics of photography</h4>
        <p class="courses-description">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="courses-card">
        <div class="courses-card-top">
          <p class="card-number">02</p>
          <a class="courses-link" href="#sign-up">
            <svg class="courses-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-vector"></use>
            </svg>
          </a>
        </div>
        <h4 class="courses-name">Landscape photography</h4>
        <p class="courses-description">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="courses-card">
        <div class="courses-card-top">
          <p class="card-number">03</p>
          <a class="courses-link" href="#sign-up">
            <svg class="courses-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-vector"></use>
            </svg>
          </a>
        </div>
        <h4 class="courses-name">Portrait <br />photography</h4>
        <p class="courses-description">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
