
 <!--   Our Mentors  -->



<section class="section our-mentors">
  <div class="container">
    <div class="mentors-wrap">

    

    

        <h3 class="section-title mentors-title">Our <span class="accent">Mentors</span></h3>
       
          
                
              <ul class="mentors-list">

                  <li class="person">
                  <div class="wrapped-pictures-mentor">
                      <img
                      srcset="img/our-mentors/girl1@1x.png 1x, 
                              img/our-mentors/girl1@2x.png 2x
                      "

                      src="img/our-mentors/girl1@1x.png"
                      alt="girl"
                      width="180"
                      height="180"
                      loading="lazy" />    
                  </div>

                          <div class="content-mentors">
                              <h3 class="main-photo-text">Emilia Smith</h3>
                              <p class="second-text">1.5 years of experience</p>           
                          </div>
                  </li>


                  <li class="person">
                  <div class="wrapped-pictures-mentor">
                      <img
                      srcset="img/our-mentors/boy1@1x.png 1x, 
                              img/our-mentors/boy1@2x.png 2x
                      "

                      src="img/our-mentors/boy1@1x.png"
                      alt="boy"
                      width="180"
                      height="180"
                      loading="lazy" />    
                  </div>

                          <div class="content-mentors">
                              <h3 class="main-photo-text">Alex Lebedev</h3>
                              <p class="second-text"> 3.5 years of experience</p>           
                          </div>
                  </li>


                  <li class="person">
                  <div class="wrapped-pictures-mentor">
                      <img
                      srcset="img/our-mentors/girl2@1x.png 1x, 
                              img/our-mentors/girl2@2x.png 2x
                      "

                      src="img/our-mentors/girl2@1x.png"
                      alt="girl"
                      width="180"
                      height="180"
                      loading="lazy" />    
                  </div>

                          <div class="content-mentors">
                              <h3 class="main-photo-text">Mia Dubrovska</h3>
                              <p class="second-text"> 2.0 years of experience</p>           
                          </div>
                  </li>



                  <li class="person">
                  <div class="wrapped-pictures-mentor">
                      <img
                      srcset="img/our-mentors/boy2@1x.png 1x, 
                              img/our-mentors/boy2@2x.png 2x
                      "

                      src="img/our-mentors/boy2@1x.png"
                      alt="boy"
                      width="180"
                      height="180"
                      loading="lazy" />    
                  </div>

                          <div class="content-mentors">
                              <h3 class="main-photo-text">Eliot Kovalev</h3>
                              <p class="second-text"> 4.0 years of experience</p>           
                          </div>
                  </li>


              
         
                </ul>
        </div>
      </div>
  </section>





