<section class="section reviews" id="reviews">
  <div class="container reviews-container">
    <h3 class="section-title">Reviews</h3>
    <ul class="section-review-two">
      <li class="reviews-card">
        <div class="stars-name">
          <div class="stars-name-card">
            <img
              srcset="
                ./img/reviews/boyuser@1x.png 1x,
                ./img/reviews/boyuser@2x.png 2x
              "
              class="reviews-avatar"
              src="./img/reviews/boyuser@1x.png"
              alt="boy"
              width="56"
              height="56"
            />
            <div class="reviews-name-name">
              <h4 class="reviews-name">Abraham Baker</h4>
              <p class="reviews-second-text">Student</p>
            </div>
          </div>
          <ul class="stars">
            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="one-stars">
              <svg class="stars-icon-color" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-paragraph">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-card reviews-card-second">
        <div class="stars-name">
          <div class="stars-name-card">
            <img
              srcset="
                ./img/reviews/girluser@1x.png 1x,
                ./img/reviews/girluser@2x.png 2x
              "
              class="reviews-avatar"
              src="./img/reviews/girluser@1x.png"
              alt="girl"
              width="56"
              height="56"
              loading="lazy"
            />

            <div class="reviews-name-name">
              <h4 class="reviews-name">Amanda Lowery</h4>

              <p class="reviews-second-text">Student</p>
            </div>
          </div>

          <ul class="stars">
            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="one-stars">
              <svg class="stars-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="one-stars">
              <svg class="stars-icon-color" width="16" height="16">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-paragraph">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
