<section class="section sign-up">
  <div class="container modal-box">
    <div class="modal-window">
      <h3 class="section-title">Sign <span class="accent">Up</span></h3>
      <p class="modal-title">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <div class="form-box">
          <label class="form-label" for="user-name"></label>
          <div>
            <input
            pattern="[A-z]{1,15}"
              placeholder="Enter your name"
              class="label-input"
              id="user-name"
              type="text"
              name="user-name"
            />
          </div>
        </div>
        <div class="form-box">
          <label class="form-label" for="user-name"></label>
          <div>
            <input
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
              placeholder="Enter your email"
              class="label-input"
              id="user-name"
              type="email"
              name="user-email"
            />
          </div>
        </div>

        <div class="form-chek">
          <label class="form-chek-privacy" for="user-privacy">
            <textarea
              class="form-comment-text"
              name="user-comment"
              id="user-comment"
              placeholder="Message"
            ></textarea>
            <button class="button-end" type="submit">SEND</button>
           <p class="text-privacy"> By clicking on “Send” button, you agree to our
            <a class="link-modal" href="">Privacy Policy</a>,
            and allow Promodo to use this information for marketing purposes.</p>
          </label>
        </div>
      </form>
    </div>
    <div class="sign-image">
      <div class="sign-image-lens">
        <picture >
                  <source 
                  media="(min-width: 1280px)"
                  srcset="./img/sign-up/camera1@1x.png 1x,
                  ./img/sign-up/camera1@2x.png 2x"/>
                  
                  <img class="img-lens"
                  src="./img/sign-up/camera1@1x.png"
                  alt="image"
                  width="180"
                  height="142" />
                  </picture>
      </div>
      <div class="sign-image-camera">
        <picture>
                  <source 
                  media="(min-width: 1280px)"
                  srcset="./img/sign-up/camera2@1x.png 1x,
                  ./img/sign-up/camera2@2x.png 2x"/>
                  
                  <img class="img-camera"
                  src="./img/sign-up/camera2@1x.png"
                  alt="image"
                  width="240"
                  height="296" />
                  </picture>
      </div>
    </div>
  </div>
</section>
