<section class="section sign-up">
  <div class="container">
    <div class="modal-window">
      <h2 class="title-sign">Sign <span class="title-up">Up</span></h2>
      <p class="modal-title">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-form">
        <div class="form-box">
          <label class="form-label" for="user-name"></label>
          <div>
            <input
              placeholder="Enter your name"
              class="label-input"
              id="user-name"
              type="text"
              name="user-name"
            />
          </div>
        </div>
        <div class="form-box">
          <label class="form-label" for="user-name"></label>
          <div>
            <input
              placeholder="Enter your email"
              class="label-input"
              id="user-name"
              type="text"
              name="user-email"
            />
          </div>
        </div>

        <div class="form-chek">
          <label class="form-chek-privacy" for="user-privacy">
            <textarea
              class="form-comment-text"
              name="user-comment"
              id="user-comment"
              placeholder="Message"
            ></textarea>
            <button class="button-end" type="submit">SEND</button>
           <p class="text-privacy"> By clicking on “Send” button, you agree to our
            <a class="link-modal" href="">Privacy Policy</a>,
            and allow Promodo to use this information for marketing purposes.</p>
          </label>
        </div>
      </form>
    </div>
  </div>
</section>
