.header {
    display: flex;
    padding: 20px;
}

.header-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0px 20px;
    max-width: 335px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border: 1px rgba(255, 255, 255, 0.20) solid;
}

@media only screen and (min-width: 768px) {
    .header-container {
        max-width: 504px;
        height: 60px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1280px) {
    .header-container {
        max-width: 822px;
        padding: 0px 50px;
    }
}

.header-nav {
    display: flex;
    max-width: 822px;
    align-items: center;
}



.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-icon {
    fill: #FFFFFF;
    width: 127px;
    height: 20px;
}

@media only screen and (min-width: 768px) {
    .header-logo-icon {
        width: 123px;
        height: 16px;
    }
}

.header-list {
    display: none;
}

@media only screen and (min-width: 1280px) {
    .header-list {
        display: flex;
        gap: 28px;
    }
}

.header-link {
    color: white;
    font-size: 14px;
    font-family: DM Sans;
    text-transform: uppercase;
}

.camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #1D1D1D;
    border-radius: 50%;
    margin-right: 14px;
}

@media only screen and (min-width: 768px) {
    .camera {
        display: none;
    }
}

.camera-icon {
    fill: #BEA69E66;
}

.burger-btn {
    background-color: #121212;
}

@media only screen and (min-width: 1280px) {
    .burger-btn {
        display: none;
    }
}

.burger-btn-icon {
    stroke: #FFFFFF;
}

.header-btn {
    margin-left: 14px;
    margin-right: auto;
    display: none;

    color: #121212;
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.56em;

    padding-left: 58px;
    padding-right: 58px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .header-btn {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    .header-btn {
        padding-left: 82px;
        padding-right: 82px;
    }
}