.hero-section {
    display: flex;
    position: relative;
    max-width: 1080px;
    height: 600px;
    border-radius: 30px;
    background: #1D1D1D;
    margin: 20px 20px;
 }

 .hero-content-box {
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.hero-title {
    max-width: 563px;
    margin-bottom: 20px;

    font-size: 64px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: -0.04em;
}

.italic {
    font-style: italic;
    font-weight: 400;
}

/* Потом закомментить */
.accent {
    color: #BEA69E;
}
/* Потом закомментить */

.hero-paragraph {
    max-width: 418px;
    margin-bottom: 136px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
}

.accent-hero {
    color: rgba(255, 255, 255, 0.50);
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.main-review-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 50px;
}

.people-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

 .hero-people-pics {
    display: flex;
    flex-direction: row;
}

 .person-1 {
    position: relative;
    z-index: 3;
}

.person-2 {
    position: absolute;
    z-index: 2;
    left: 40px;
}

.person-3 {
    position: absolute;
    z-index: 1;
    left: 86px;
}

.hero-paragraph-2 {
    width: 82px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; 
    letter-spacing: -0.04em;
}

.arrow-svg-style {
    fill: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25; 
    letter-spacing: -0.04em;
}

.star-section {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.star-svg-background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #BEA69E;
}

.star-svg-style {
    stroke: #121212;
    fill: none;
}

.review-amount {
    margin-top: 9px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.25; 
    letter-spacing: -0.04em;
}

