

/* -----------------------------------section mentor--------------------------- */


  
  .person {
    display: flex;
    height: 240px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
  }
  
  
  
  /* mobile padding  */
  
  .section .our-mentors {
     
    padding-top: 80px;
    padding-bottom: 80px;
    background: var(--black, #121212);
    margin: auto;
  }
  
  
  
  .mentors-title { 

    margin-bottom: 40px;
  }
  

  
  
  
  .main-photo-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  
  .second-text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
  
  }
  
  .mentors-list {
     
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-shrink: 0;
    justify-content: center;
  }
  
  
  .content-mentors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
  
  
  
  
  
  
  
  
  /* ==========Tablet============ */
  
  @media only screen and 
(min-width: 768px) {
   .mentors-list  {
    gap:93px 100px ;
  }



.mentors-title  {
 
  font-size: 48px;
  line-height:1.2; 
  margin-bottom: 50px;
}


.main-photo-text {
  font-size: 28px;
  line-height: 1.14;
}



.second-text {
  font-size: 14px;
 
}


.content-mentors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px
}

}


/* desktop ------------*/




@media screen and (min-width: 1280px) { 
  .mentors-list  {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
  }



}