.reviews-card {
  padding: 20px;
  margin-top: 40px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.reviews-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 8px;
}

.stars-name-card {
  display: flex;
  gap: 10px;
}
.reviews-avatar {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}

.reviews-name-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.reviews-second-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  font-weight: 400;
}

.stars {
  display: flex;
  gap: 4px;
  margin-top: 4px;
  margin-left: 66px;
}

.reviews-paragraph {
  margin-top: 20px;
  letter-spacing: -0.02em;
  line-height: 1.29;
  font-size: 14px;
  font-weight: 400;
}
.one-stars {
  width: 16px;
  height: 16px;
}
.stars-icon {
  fill: #bea69e;
  stroke-width: 1.5;
  stroke: #bea69e;
}

.stars-icon-color {
  fill: rgba(255, 255, 255, 0.2);
  stroke-width: 1.5;
  stroke: #414141;
}

@media only screen and (min-width: 768px) {
  .reviews-card {
    margin-top: 50px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .stars-name {
    display: flex;
    justify-content: space-between;
  }

  .reviews-name {
    line-height: 1.4;
    margin-top: 3px;
  }

  .reviews-second-text {
    font-size: 14px;
    line-height: 1.29;
  }
  .one-stars {
    width: 20px;
    height: 20px;
  }
  .stars-icon,
  .stars-icon-color {
    width: 20px;
    height: 20px;
  }
  .reviews-paragraph {
    font-size: 16px;
    line-height: 1.25;
    max-width: 600px;
  }
}

@media screen and (max-width: 1279px) {
  .reviews-card-second {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .section-review-two {
    display: flex;
    gap: 20px;
  }

  .reviews-card {
    margin-left: 0;
    margin-right: 0;
    max-width: 530px;
  }

  .stars-name {
    justify-content: space-between;
  }

  .reviews-paragraph {
    max-width: 490px;
  }
}
